.zj-map {
  .other-label {
    transform: translateY(200%);
    opacity: 0;
    background: none;
  }
  .china-label {
    color: #fff;
    font-size: 10px;

    .other-label {
      display: flex;
      align-items: center;
      padding: 2px 4px;
      border-radius: 4px;
      background: rgba(0, 0, 0, 0.6);
    }
    .label-icon {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }
  }
  .zhejiang-label {
    padding: 5px;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 4.5px;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent, transparent
          20%, rgba(255, 255, 255, 0.3));

    .other-label {
      display: flex;
      flex-direction: column;
    }

    span:last-child {
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0px;
      color: #a7d5ef;
    }
  }
}

.provinces-label {
  .number {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }
  .unit {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    padding-left: 5px;
  }
  .name {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
  }
  .name span {
    display: block;
  }
  .en {
    color: #fff;
    font-size: 10px;
    opacity: 0.5;
    font-weight: 700;
  }
  .no {
    color: #7efbf6;
    text-shadow: 0 0 5px #7efbf6, 0 0 10px #7efbf6;
    font-size: 30px;
    font-weight: 700;
  }
  .yellow .no {
    color: #fef99e !important;
    text-shadow: 0 0 5px #fef99e, 0 0 10px #fef99e !important;
  }
}
